.light {
  --md-sys-color-primary: rgb(87 89 146);
  --md-sys-color-surface-tint: rgb(87 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(225 224 255);
  --md-sys-color-on-primary-container: rgb(63 65 120);
  --md-sys-color-secondary: rgb(128 86 16);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 221 179);
  --md-sys-color-on-secondary-container: rgb(99 63 0);
  --md-sys-color-tertiary: rgb(102 96 20);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(238 229 140);
  --md-sys-color-on-tertiary-container: rgb(77 72 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(247 249 255);
  --md-sys-color-on-surface: rgb(24 28 32);
  --md-sys-color-surface-variant: rgb(221 227 234);
  --md-sys-color-on-surface-variant: rgb(65 71 77);
  --md-sys-color-outline: rgb(114 120 126);
  --md-sys-color-outline-variant: rgb(193 199 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 53);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(192 193 255);
  --md-sys-color-primary-fixed: rgb(225 224 255);
  --md-sys-color-on-primary-fixed: rgb(19 20 75);
  --md-sys-color-primary-fixed-dim: rgb(192 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(63 65 120);
  --md-sys-color-secondary-fixed: rgb(255 221 179);
  --md-sys-color-on-secondary-fixed: rgb(41 24 0);
  --md-sys-color-secondary-fixed-dim: rgb(245 189 111);
  --md-sys-color-on-secondary-fixed-variant: rgb(99 63 0);
  --md-sys-color-tertiary-fixed: rgb(238 229 140);
  --md-sys-color-on-tertiary-fixed: rgb(31 28 0);
  --md-sys-color-tertiary-fixed-dim: rgb(210 201 115);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 72 0);
  --md-sys-color-surface-dim: rgb(215 218 223);
  --md-sys-color-surface-bright: rgb(247 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 249);
  --md-sys-color-surface-container: rgb(235 238 243);
  --md-sys-color-surface-container-high: rgb(230 232 238);
  --md-sys-color-surface-container-highest: rgb(224 227 232);
}
